---
import MainLayoutFooterless from "../../../layouts/MainLayoutFooterless.astro";
import { query, queryOne } from "../../../utils";
import type { Project } from "../../../models/Project";
import ProjectInfo from "../../../components/project/ProjectInfo.vue";
import ProjectGallery from "../../../components/project/ProjectGallery.vue";
import { Image } from "astro:assets";
import ButtonImage from "../../../components/ButtonImage.vue";

import edit from "../../../assets/img/content/projects/web/atlast/atlast-edit.avif";
import search from "../../../assets/img/content/projects/web/atlast/atlast-search.avif";
import cover from "../../../assets/img/content/projects/web/atlast.avif";

export function getStaticPaths() {
  return [
    { params: { project: "atlast" } },
    { params: { project: "rover" } },
    { params: { project: "spot" } },
  ];
}

const { project } = Astro.params;
const { name, url, tech, description, images } =
  (await queryOne<Project>("webProjects", project)) ?? {};

console.log(project);

const pics = [cover, edit, search];
---

<MainLayoutFooterless>
  <div class="project">
    <ProjectInfo name={name} url={url} tech={tech} description={description} />
    <ProjectGallery client:only>
      <ButtonImage>
        <Image src={cover} alt={"lel"} loading={"eager"} />
      </ButtonImage>
      <ButtonImage>
        <Image src={edit} alt={"lel"} />
      </ButtonImage>
      <ButtonImage>
        <Image src={search} alt={"lel"} />
      </ButtonImage>
    </ProjectGallery>
  </div>
</MainLayoutFooterless>

<style scoped lang="scss">
  .project {
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media (min-width: 1280px) {
    .project {
      display: grid;
      grid-template-columns: repeat(10, minmax(0px, 1fr));
      gap: 0.5rem;
    }
  }
</style>
