---
import type { Link } from "../models/Link";
import type { Media } from "../models/Media";
import { query } from "../utils/utils.ts";
import LinkList from "../components/LinkList.vue";
import MediaRecent from "../components/MediaRecent.astro";
import Favorites from "../components/about/Favorites.astro";
import Timeline from "../components/Timeline.astro";
import SectionTitle from "../components/SectionTitle.vue";
import MainLayout from "../layouts/MainLayout.astro";
import IconSmile from "../components/Icons/IconSmile.vue";
import IconHeart from "../components/Icons/IconHeart.vue";
import IconDatabase from "../components/Icons/IconDatabase.vue";

const links = await query<Link>("nowLinks");
const medias = await query<Media>("nowMedia");
---

<MainLayout>
	<div class="content">
		<section>
			<SectionTitle name="now" icon={IconSmile} />
			<!-- <p>Working with these tools at the moment :</p> -->
			<LinkList links={links} client:only />
			<MediaRecent medias={medias} />
		</section>

		<section>
			<SectionTitle name="favorites" icon={IconHeart} />
			<Favorites />
		</section>

		<section>
			<SectionTitle name="resume" icon={IconDatabase} />
			<Timeline />
		</section>
	</div>
</MainLayout>

<style scoped lang="scss">
	.content {
		display: flex;
		flex-flow: column;
		align-items: start;
		// padding-top: 2rem;
		padding: 2rem 0 0;
		gap: 6rem;
		opacity: 1;
		transform: translateY(0);
		transition: transform 0.3s;
	}

	.loader {
		border: 2px solid var(--bg-darker0);
		border-radius: 0.5rem;
		height: 80%;
		width: 30rem;
		height: 30rem;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	section {
		width: 100%;
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	@media (max-width: 1280px) {
		.content {
			padding: 0 1rem;
		}
	}
</style>
