---
import Favorites from "@components/features/about/Favorites.astro";
import Timeline from "@components/features/about/Timeline.vue";
import MainLayout from "@layouts/MainLayout.astro";
import type { Moment } from "@models/Moment";
import { query } from "@utils/utils.ts";

const jobs = await query<Moment>("jobs");
jobs.forEach((job: Moment) => (job.duration = getDuration(job.start, job.end)));

const moments: Moment[] = jobs.sort(
	(a, b) => b.start.getTime() - a.start.getTime(),
);

function getDuration(startDate: Date, endDate?: Date) {
	const end = endDate ?? new Date();
	const duration = new Date(end.getTime() - startDate.getTime());
	const years =
		duration.getFullYear() === 1970 ? "" : duration.getFullYear() - 1970;
	const months = duration.getMonth() === 0 ? "" : duration.getMonth();
	const yearString = years ? `${years} year${years > 1 ? "s" : ""}` : "";
	const monthString = months ? `${months} month${months > 1 ? "s" : ""}` : "";

	return `${yearString} ${monthString}`;
}
---

<MainLayout>
	<div class="content">
		<section>
			<p>yo yo yo ! comment ça va la team ?</p>
		</section>

		<section>
			<Timeline client:idle moments={moments} />
		</section>

		<section>
			<p>yo yo yo ! mes ptits trucs pref c'est cadeau</p>
		</section>

		<section>
			<Favorites />
			<!-- <Favorites /> -->
		</section>
	</div>
</MainLayout>

<style scoped>
	.intro {
		display: flex;
		flex-flow: column;

		p {
			max-width: 90rem;
			text-wrap: balance;

			&:not(:last-of-type) {
				padding-bottom: 2rem;
			}
		}
	}

	.content {
		display: flex;
		flex-flow: column;
		align-items: start;
		padding: 3rem 0 4rem;
		gap: 4rem;
		width: 100%;
	}

	section {
		width: 100%;
		display: flex;
		flex-flow: column;
		align-items: center;
	}

	.technow {
		display: flex;
		flex-flow: column;
		align-items: center;
		margin-bottom: 1rem;
	}

	@media (max-width: 1280px) {
		.content {
			padding: 3rem 0 4rem;
		}
	}
</style>
