---
import type { Article } from "@models/Article";
interface Props {
  entries: Article[];
  url?: string;
  listTitle?: string;
}

const { entries, url = "articles", listTitle = null } = Astro.props;
---

<div class="list">
  {
    listTitle && (
      <div class="title">
        <h2>{listTitle}</h2>
        <span class="limit" inert />
        <p class="entries">
          <span inert>(</span>
          {entries.length} entr{entries.length > 1 ? "ies" : "y"}
          <span inert>)</span>
        </p>
      </div>
    )
  }
  {
    entries.map((entry) => (
      <a id={entry.name} href={`/${url}/${entry.name}`}>
        {entry.title}
      </a>
    ))
  }
</div>

<style>
  .list {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    width: 70vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-columns: 1fr 1fr; */

    @media (max-width: 1280px) {
      padding: 2rem;
      width: 100%;
      grid-template-columns: 1fr;
    }
  }

  .title {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  .limit {
    height: 1px;
    height: 100%;
    border-bottom: 1px solid var(--bg-darker);
    display: flex;
    flex: 1;
  }

  .entries,
  .entries span {
    color: var(--color-light);
  }

  nav {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
  }

  a {
    color: var(--color);
    width: 100%;
    padding: 0.75rem;
    /* text-transform: capitalize; */
    outline: 2px solid var(--bg-darker);
    transition: padding-left 0.125s ease-out;

    &:after {
      content: "->";
      color: transparent;
      transform: translateX(-0.25rem);
      transition:
        transform 0.125s ease-out,
        color 0.125s ease-out;
    }

    &:hover,
    &:focus-visible {
      color: var(--color);
      background-color: transparent;
      outline: 2px solid var(--color);
      padding-left: 1.25rem;

      &:after {
        content: "->";
        color: var(--color);
        transform: translateX(0);
      }
    }
  }
</style>
