---
import type { Article } from "@models/Article";
import Wintrading from "./features/articles/Wintrading.astro";

interface Props {
  entries: Article[];
  url?: string;
  listTitle?: string;
}

const { entries, url = "articles", listTitle = null } = Astro.props;

const charMap: Record<string, string[]> = {
  animation: ["@", "@", "@", "@", "@", "@"],
  wintrading: ["$", "$", "$", "$", "$", "$"],
  shadow: ["?", "?", "?", "?", "?", "?"],
};
---

<div class="list">
  {
    listTitle && (
      <div class="title">
        <h2>{listTitle}</h2>
        <span class="limit" inert />
        <p class="entries">
          <span inert>(</span>
          {entries.length} entr{entries.length > 1 ? "ies" : "y"}
          <span inert>)</span>
        </p>
      </div>
    )
  }
  {
    entries.map((entry) => (
      <Wintrading chars={charMap[entry.name]}>
        <a id={entry.name} href={`/${url}/${entry.name}`}>
          {entry.title}
        </a>
      </Wintrading>
    ))
  }
</div>

<style>
  .list {
    display: flex;
    flex-flow: column;
    gap: 1rem;
  }

  .title {
    display: flex;
    align-items: baseline;
    gap: 1rem;
    justify-content: space-between;
  }

  .limit {
    height: 100%;
    border-bottom: 2px solid var(--bg-alter);
    display: flex;
    flex: 1;
  }

  .entries,
  .entries span {
    color: var(--color-alter);
  }

  nav {
    padding-top: 1rem;
    display: flex;
    gap: 1rem;
  }

  a {
    color: var(--color);
    width: 100%;
    padding: 0.75rem;
    background-color: var(--bg-alt);
    /* border-radius: var(--radius-sm); */
    transition: padding-left var(--timing-md);

    &:after {
      content: "->";
      color: transparent;
      transform: translateX(-0.25rem);
      transition:
        transform var(--timing-md),
        color var(--timing-md);
    }

    &:hover,
    &:focus-visible {
      color: var(--color);
      /* background-color: var(--bg-alter); */
      padding-left: 1.25rem;

      &:after {
        content: "->";
        color: var(--color);
        transform: translateX(0);
      }
    }
  }
</style>
