---
import Icon from "@components/icons/Icon.vue";
import IconBookmark from "components/icons/IconBookmark.vue";
import IconGithub from "components/icons/IconGithub.vue";
import IconLinkedin from "components/icons/IconLinkedin.vue";
import IconWikipedia from "components/icons/IconWikipedia.vue";
import IconYoutube from "components/icons/IconYoutube.vue";
---

<nav>
  <a target="”_blank”" href="https://github.com/calamina">
    <Icon icon={IconGithub} />
    github
  </a>
  <a target="”_blank”" href="https://www.linkedin.com/in/gregoire-belliere/">
    <Icon icon={IconLinkedin} />
    linkedin
  </a>
  <a target="”_blank”" href="https://en.wikipedia.org/wiki/User:Calamina *">
    <Icon icon={IconWikipedia} />
    wikipedia
  </a>
  <a target="”_blank”" href="https://www.youtube.com/@calamina">
    <Icon icon={IconYoutube} />
    youtube
  </a>
  <a target="”_blank”" href="https://www.senscritique.com/calamina">
    <Icon icon={IconBookmark} />
    senscritique
  </a>
</nav>

<style scoped>
  nav {
    display: flex;
    flex-flow: column;
    width: 100%;
    gap: 0.5rem;
    gap: 0.25rem;
  }

  nav a:hover * {
    color: var(--color-hover);
  }
</style>
