---
import type { Project } from "@models/Project";
import { getImage } from "@utils/images";

export interface Props {
  project: Project;
}

const { project } = Astro.props;
const url = "/projects/";
const image = await getImage(project.name);
---

<a class="project" id={project.name} href={url + project.name}>
  <img src={image?.default?.src} alt=`${project.name} cover` />
  <div class="info">
    <p class="project-name"><span>{project.name}</span></p>
    <div class="data">
      {project.tech?.tools?.map((tool) => <p>{tool}</p>)}
      {project.tech?.languages?.map((lng) => <p>{lng}</p>)}
    </div>
  </div>
</a>

<style scoped>
  .project {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* gap: 0.5rem; */
    /* display: flex;
    flex-flow: column; */
    gap: 0;
    width: fit-content;
    width: 80vw;
    outline: none;
    justify-content: start;
    align-items: start;
    background-color: transparent;
    border-radius: 0.25rem;
    overflow: hidden;
    background-color: var(--bg-darker0);

    @media (max-width: 1280px) {
      width: 100%;
    }

    &:hover,
    &:focus {
      /* img {
        transform: scale(0.95);
      } */
      .project-name {
        span {
          background-color: var(--highlight);
          height: 100%;
          display: inline-flex;
        }
        &::before,
        &::after {
          color: var(--color);
        }
        &::before {
          content: "[";
          transform: translateX(-0.3rem);
        }
        &::after {
          content: "]";
          transform: translateX(0.3rem);
        }
      }
    }
  }

  .info {
    display: flex;
    flex-flow: column;
    height: 100%;
    padding: 1rem;
  }

  .data {
    margin-top: auto;
    padding-left: 1ch;

    p {
      color: var(--color-light);
    }
  }

  .project-name {
    width: fit-content;
    &::before,
    &::after {
      display: inline-flex;
      content: "";
      width: 1ch;
      transition: transform 0.125s ease-out;
    }
  }

  img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
</style>
