---
import MainLayoutFooterless from "../../../layouts/MainLayoutFooterless.astro";
import { queryOne, queryPrevious, queryNext } from "../../../utils";
import type { Project } from "../../../models/Project";
import ProjectInfo from "../../../components/project/ProjectInfo.vue";
import ProjectGallery from "../../../components/project/ProjectGallery.vue";
import { Image } from "astro:assets";
import ButtonImage from "../../../components/ButtonImage.vue";
import { getCollection } from "astro:content";
import ProjectNavigation from "../../../components/project/ProjectNavigation.vue";

const projects = await getCollection("phoneProjects");
const total = projects.length;

export async function getStaticPaths() {
  const projects = await getCollection("phoneProjects");
  return projects.map((project) => ({
    params: { project: project.data.name },
  }));
}

const { project } = Astro.params;
const { num, name, url, tech, description, online } =
  (await queryOne<Project>("phoneProjects", project)) ?? {};

const prev = await queryPrevious("phoneProjects", num ?? 0);
const next = await queryNext("phoneProjects", num ?? 0);

// TODO:: REFACTO IMAGE GETTER -----
const lels = Object.entries(
  import.meta.glob<{ default: ImageMetadata; eager: true }>(
    "/src/assets/img/content/projects/phone/**/*.avif",
  ),
);

const hehe = lels
  .filter((lel) => lel[0].includes(project) && !lel[0].includes("mini"))
  .map((lel) => lel[1]);
// ----------------------------------
---

<MainLayoutFooterless>
  <div class="project">
    <ProjectInfo
      name={name}
      url={url}
      tech={tech}
      description={description}
      online={online}
    >
      <!-- ADD CONSTANTS FOR PATH -->
      <ProjectNavigation
        prev={prev}
        next={next}
        total={total}
        path="/projects/phone/"
      />
    </ProjectInfo>
    <ProjectGallery client:only>
      {
        hehe.map((item) => (
          <ButtonImage>
            <Image src={item()} alt={"lel"} loading={"eager"} />
          </ButtonImage>
        ))
      }
    </ProjectGallery>
  </div>
</MainLayoutFooterless>

<style scoped lang="scss">
  .project {
    display: grid;
    grid-template-columns: repeat(10, minmax(0px, 1fr));
    gap: 0.5rem;
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  @media (min-width: 1280px) {
    .project {
      display: flex;
      flex-flow: column;
      padding: 0 0.5rem;
    }
  }
</style>
