---
import MainLayoutFooterless from "../../../layouts/MainLayoutFooterless.astro";
import { queryOne, getPaths, isVerticalImage } from "../../../utils";
import type { Project } from "../../../models/Project";
import ProjectInfo from "../../../components/project/ProjectInfo.vue";
import ProjectGallery from "../../../components/project/ProjectGallery.vue";
import { Image } from "astro:assets";
import ButtonImage from "../../../components/ButtonImage.vue";
import { getCollection } from "astro:content";
import ProjectNavigation from "../../../components/project/ProjectNavigation.vue";

const projects = await getCollection("phoneProjects");
const total = projects.length;

export const getStaticPaths = async () => {
  return getPaths("webProjects");
};

const { project } = Astro.params;
const { name, url, tech, description, online } =
  (await queryOne<Project>("phoneProjects", project)) ?? {};

const index = projects.findIndex((_project) => _project.data.name === name);
const { prev, next } = {
  prev: projects[index - 1]?.data ?? null,
  next: projects[index + 1]?.data ?? null,
};

const images = () => {
  const files = Object.entries(
    import.meta.glob<{ default: ImageMetadata; eager: true }>(
      "/src/assets/img/content/projects/phone/**/*.avif",
    ),
  );

  return files
    .filter((file) => file[0].includes(project) && !file[0].includes("mini"))
    .map((file) => file[1]().then((lul) => lul));
};
---

<MainLayoutFooterless>
  <div class="project">
    <ProjectInfo
      name={name}
      url={url}
      tech={tech}
      description={description}
      online={online}
    >
      <!-- ADD CONSTANTS FOR PATH -->
      <ProjectNavigation
        index={index}
        prev={prev}
        next={next}
        total={total}
        path="/projects/phone/"
      />
    </ProjectInfo>
    <ProjectGallery type="phone" client:only>
      {
        images().map((image) => (
          <ButtonImage>
            <Image
              src={image}
              alt={name + "gallery image"}
              loading={"eager"}
              class:list={[{ mobile: isVerticalImage(image) }]}
            />
          </ButtonImage>
        ))
      }
    </ProjectGallery>
    <ProjectNavigation
      index={index}
      prev={prev}
      next={next}
      total={total}
      path="/projects/phone/"
      mobile={true}
    />
  </div>
</MainLayoutFooterless>

<style scoped lang="scss">
  .project {
    display: grid;
    grid-template-columns: repeat(10, minmax(0px, 1fr));
    gap: 0.5rem;
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  img.mobile {
    width: auto;
    height: 100%;
    max-height: 85vh;
  }

  @media (max-width: 1280px) {
    .project {
      display: flex;
      flex-flow: column;
      padding: 0 0.5rem;
    }
  }
</style>
