---
import ProjectGallery from "@components/features/project/ProjectGallery.astro";
import ProjectInfo from "@components/features/project/ProjectInfo.astro";
import { queryProject } from "@utils/content.ts";
import MainLayout from "./MainLayout.astro";

interface Props {
  project: string;
}
const { project } = Astro.props;

const {
  name = "",
  tech,
  description = [],
  url,
} = (await queryProject(project)) ?? {};
---

<MainLayout description={description.join(" ")}>
  <div class="project">
    <ProjectInfo name={name} tech={tech} description={description} url={url} />
    <ProjectGallery project={project} name={name} />
  </div>
</MainLayout>

<style>
  .project {
    display: grid;
    grid-template-columns: repeat(12, minmax(0px, 1fr));
    gap: 3rem;
    width: 100%;

    @media (max-width: 1280px) {
      display: flex;
      flex-flow: column;
      padding: 1rem 0 2rem;
      gap: 1rem;
    }
  }
</style>
