---
interface Props {
  one: string;
  two: string;
}

const { one, two } = Astro.props;
const oneline = one.split("").map(() => "─");
const twoline = two.split("").map(() => "─");
---

<p class="table" inert>
  ╭─{oneline}─┬─{twoline}─╮
</p>
<p class="table">│ <span>{one}</span> │ <span>{two}</span> │</p>
<p class="table" inert>
  ╰─{oneline}─┴─{twoline}─╯
</p>

<style>
  p.table {
    padding: 0;
    margin: 0;
    font-family: monospace;
    color: var(--bg-alter);
    line-height: 1.5rem;

    span {
      color: var(--color);
      font-family: monospace;
    }
  }
</style>
